In [1]:
# importação bibliotecas

import pandas as pd
import numpy as np

In [22]:
# importação dados treino e teste

train = pd.read_csv('./data/train.csv')
test = pd.read_csv('./data/test.csv')

In [23]:
# treino 

train.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

In [24]:
# valores da variavel sex

train['Sex'].value_counts()

male      577
female    314
Name: Sex, dtype: int64

In [25]:
def func_sex_b(value):
    if value == 'female':
        return 1
    
    else:
        return 0

In [26]:
# aplicaçao da função de transformação

train['sex_b'] = train['Sex'].map(func_sex_b)

In [28]:
test['sex_b'] = test['Sex'].map(func_sex_b)

In [29]:
# valores da variavel sex_b

train['sex_b'].value_counts()

0    577
1    314
Name: sex_b, dtype: int64

In [30]:
# variavei utilizadas

var = ['sex_b', 'Age']

In [31]:
# definição x, y

X = train[var]
y = train['Survived']

In [32]:
X.head(3)

   sex_b   Age
0      0  22.0
1      1  38.0
2      1  26.0

In [33]:
y.head(3)

0    0
1    1
2    1
Name: Survived, dtype: int64

In [34]:
# remoção valores NaN
# substituição por -1

X = X.fillna(-1)

In [35]:
# importação RandomForest

from sklearn.ensemble import RandomForestClassifier

In [36]:
# instancia modelo

model = RandomForestClassifier(n_estimators=100,
                               n_jobs=-1,
                               random_state=0)

In [37]:
# treinamento modelo

model.fit(X, y)

RandomForestClassifier(n_jobs=-1, random_state=0)

In [41]:
# tratamento dados de test

X_prev = test[var]
X_prev = X_prev.fillna(-1)
X_prev.head(3)

   sex_b   Age
0      0  34.5
1      1  47.0
2      0  62.0

In [42]:
p = model.predict(X_prev)

In [43]:
# previsões

p

array([0, 1, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1,
       1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1,
       1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1,
       1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1,
       1, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1,
       0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1,
       0, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0,
       1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0,
       0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1,
       0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0,
       0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0,
       1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1,
       0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0],
      dtype=int64)

In [50]:
# criando estrutura para sub

sub = pd.Series(p, index=test['PassengerId'], name='Survived')

In [51]:
# csv com o primeiro modelo treinado

sub.to_csv('model-001.csv', header=True)